.stadiums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.stadiums div{
    margin: 10px;
}

.form-reserve{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 700px) {
    .stadiums {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .stadiums div{
        margin: 10px;
    }

    .form-reserve{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .table_resv{
        width: auto;
    }

}
