
input[type=email],
input[type=password] {
    border: 1px solid #293462;
    width: 300px;
    height: 40px;
}

.remAndSubm{
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #293462;
}
.subm {
    border: 1px solid #293462;
    cursor: pointer;
    border-radius: 7px;
    color: #293462;
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    height: 40px;
    cursor: pointer;
    display: block;
}

.subm:hover{
    background-color: #293462;
    color: #fff;
    transition: 0.3s;
}

.text-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #293462;
}

.text-login h3 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}
