.remAndSubm {
    display: flex;
    flex-direction: column;
    color: #201943;
}

.subm {
    border: 1px solid #293462;
    cursor: pointer;
    border-radius: 7px;
    color: #201943;
    background-color: rgba(0, 0, 0, 0);
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: block;
    margin: 10px;
}

.subm:hover {
    background-color: #293462;
    color: #fff;
    transition: 0.3s;
}


label {
    color: #201943;
}

div.text-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #201943;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.text-login h3 {
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    div.text-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #201943;
        position: relative;
    }

    .text-login h3 {
        font-size: 25px;
        font-weight: lighter;
        text-align: center;
    }
    .text-login div{
        margin: 10px;

    }
}
