.stadiumsUser {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.stadiums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.stadiumsAdmin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.stadiumsUser div,
.stadiumsAdmin div {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div {
    margin: 10px;
    width: 500px;
}

.btn-form {
    float: left;
}
